html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header,
main {
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  flex: 1;
  position: relative;
  align-items: center;
}

#repo-link {
  position: absolute;
  top: 0;
  right: 0;
}

main {
  flex: 9;
  position: relative;
  align-items: flex-start;
}

#new-book {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.modal {
  display: none; /* Changes to flex on button click */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  background-color: #fefefe;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.show-model {
  display: flex;
}
