html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header,
main {
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  flex: 1;
  position: relative;
  align-items: center;
}

#repo-link {
  position: absolute;
  top: 0;
  right: 0;
}

main {
  flex: 9;
  position: relative;
  align-items: flex-start;
}

#new-book {
  position: absolute;
  right: 0;
  bottom: 0;
}
